<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
{% if page.title == "index" %}
<title>|pipe| is a simple IoT security tool for developers & OEMs</title>

<meta name="description" content="Watch how |pipe| creates an authenticated, encrypted path over the Internet (like a VPN) 
directly between the connected IoT device and a smartphone browser, without any cloud 
server.">
{% endif %}




{% if page.title == "developers" %}
<title>|pipe| IoT WebRTC Secure Data Transport and Identity Management</title>

<meta name="description"
    content="|pipe| is a simple SDK for small Iot devices that implements WebRTC,plus client code for browsers and native apps ,to create  an encrypted data transport layer for real-time video at the Edge">
{% endif %}





{% if page.title == "customers" %}
<title>|pipe| powers IP Video Security Cameras, Webcams, Baby Monitors, Drones</title>
<meta name="description"
    content=" See how |pipe| brings security, privacy and low latency to small IoT devices at the Edge, 
especially for live video streaming: IP cameras, webcams, babycams, drones, door access 
systems etc.">
{% endif %}





{% if page.title == "blog" %}
<title>|pipe| in the Media, Technical White Papers and Videos</title>

<meta name="description"
    content="Take a deeper dive on pipe IoT device security technology">
{% endif %}




{% if page.title == "privacy" %}
<title>The protection of your privacy and data is really important to us</title>

<meta name="description"
    content=" We do not use cookies, web analytic tools, plug-ins or similar technologies to analyze your">
{% endif %}

{% if page.title == "privacy" %}
<title>|pipe| Founders: Tim Panton & Simon Hossell</title>

{% endif %}

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

</head>