<section class="header">


    <div class="header__logo">
        <a href="{{site.baseurl}}/">

            <img class="mobile-logo-new" src="{{site.baseurl}}/assets/images/mobile-logo.png" alt="">

        </a>
        <a href="{{site.baseurl}}/">

            <img class="desktop-logo" src="{{site.baseurl}}/assets/images/Bildschirmfoto.png" alt="">

        </a>

    </div>
    <div class=" ">

        <img class="mobile-icon header__menu-icon" src="{{site.baseurl}}/assets/images/icons-menu.png" alt="">
    </div>
    <nav class="desktop-menu header__menu__list">

        <li>
            <a href="{{site.baseurl}}/"> WHAT WE DO </a>
        </li>
        <li> <a href="{{site.baseurl}}/customers/"> CUSTOMERS</a></li>
        <li> <a href="{{site.baseurl}}/for-developers/">DEVELOPERS</a></li>
        <li> <a href="{{site.baseurl}}/about/">TEAM</a></li>
        <li> <a href="{{site.baseurl}}/contact-us/">CONTACT</a></li>
        <li> <a href="{{site.baseurl}}/blog/">BLOG</a></li>
    </nav>

</section>
