<div class="mobile-slider__menu">
    <svg class="closebtn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="49"
        height="46" viewBox="0 0 49 46">
        <defs>
            <clipPath id="clip-Close_Button">
                <rect width="49" height="46" />
            </clipPath>
        </defs>
        <g id="Close_Button" data-name="Close Button" clip-path="url(#clip-Close_Button)">
            <!-- <rect width="49" height="46" fill="#fff" /> -->
            <g id="icons_dark_x" data-name="icons/dark/x" transform="translate(10.463 8.463)">
                <g id="Rechteck_533" data-name="Rechteck 533" transform="translate(-0.463 -0.463)" fill="#fff"
                    stroke="#fff" stroke-width="1" opacity="0">
                    <rect width="30" height="30" stroke="none" />
                    <rect x="0.5" y="0.5" width="29" height="29" fill="none" />
                </g>
                <g id="x" transform="translate(7.269 7.269)">
                    <line id="Linie_280" data-name="Linie 280" x1="14" y2="14" transform="translate(0.268 0.269)"
                        fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                    <line id="Linie_281" data-name="Linie 281" x2="14" y2="14" transform="translate(0.268 0.269)"
                        fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
                </g>
            </g>
        </g>
    </svg>
    <ul class="mobile-slider__menu-list">
        <li class=" mobile-slider__menu-list-logo">
            <a href="{{site.baseurl}}/">
                <img class="" src="{{site.baseurl}}/assets/images/Bildschirmfoto.png" alt="">

            </a>
        </li>
        <li class="mobile-slider__menu-list-item">
            <a href="{{site.baseurl}}/"> WHAT WE DO </a>
        </li>
        <li class="mobile-slider__menu-list-item">
            <a href="{{site.baseurl}}/customers/">CUSTOMERS </a>

        </li>
        <li class="mobile-slider__menu-list-item">
            <a href="{{site.baseurl}}/for-developers/"> DEVELOPERS </a>

        </li>
        <li class="mobile-slider__menu-list-item">
            <a href="{{site.baseurl}}/about/"> TEAM </a>

        </li>
        <li class="mobile-slider__menu-list-item">
            <a href="{{site.baseurl}}/contact-us/"> CONTACT </a>

        </li>
        <li class="mobile-slider__menu-list-item">
            <a href="{{site.baseurl}}/blog/"> MEDIA </a>

        </li>
    </ul>
</div>
